[Desktop Entry]
Name=Shooting Star
Comment=Shooting game
Comment[pl]=Strzelanka
Exec=shootingstar
Icon=shootingstar
Terminal=false
Type=Application
Categories=Game;ActionGame;
# vi: encoding=utf-8
